// https://stackoverflow.com/questions/1664785/resize-html5-canvas-to-fit-window
#image-canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    display: block;
    background-color: #000000;
}